 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #c5c5c5;
 }


 .main-post {
     background-color: #ffffff;
     background-image: linear-gradient(0deg,rgb(231, 186, 186), white);
     padding: 15px;
margin: 5px 0 15px 0;
border-radius: 5px;
border: 1px solid #0000008e;
 }

 .main-post  h2{
    color: #333333c4;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0;
 }
.main-post .info{
    font-size: 14px;
    color: #777777  ;
}

.main-post .info{
    font-size: 12px;
}

.main-post .info svg{
    font-size: 12px;
}

.main-post img {
    display: block  ;
    margin: 10px 0;
}
.main-post .desc{
    display: block; 
    font-size: 13px;
    color: #555555; 
    line-height: 1.8;
}

.main-post .cat{
    display: block; 
    font-size: 12px;
    color: #413838;
    margin-bottom: 5px;
}

.main-post svg{
    color: rgb(151, 114, 114);
}

 
.main-post .permalink h2{
  border-bottom: 2px dashed #aaa;
  font-size: 25px;
}
.main-post .permalink:hover ,
.main-post .permalink:hover h2{
 text-decoration: none;
   border-bottom: 2px solid  #aaa;
}
















 .footer {
     background-color: #333;
     color: white;
     padding: 10px;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
 }