 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #c5c5c5;
 }

.home-page  .main-post ,
  .main-post {
     background-color: #ffffff;
     /*! background-image: linear-gradient(0deg,rgb(231, 186, 186), white); */
     padding: 15px;
margin: 5px 0 15px 0;
border-radius: 5px;
border: 1px solid #0000008e;
 }
.home-page   .main-post  h2 ,
 .main-post  h2{
    color: #333333c4;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0;
 }
 .home-page .main-post .info ,
.main-post .info{
    font-size: 14px;
    color: #777777  ;  
}
 .home-page .main-post .main-post .info svg ,
.main-post .info svg{
    font-size: 12px;
}

 .home-page .main-post img ,
.main-post img {
    display: block  ;
    margin: 10px 0;
}


 .home-page .main-post .desc,
.main-post .desc{
    display: block; 
    font-size: 13px;
    color: #868686; 
    line-height: 1.8;
}

 .home-page .main-post .cat,
.main-post .cat{
    display: block; 
    font-size: 12px;
    color: #ea0d0d;
    margin-bottom: 5px;
}

 .home-page  .main-post .cat a,
.main-post .cat a{
        color: #734e4e;
}

 .home-page  .main-post svg,
.main-post svg{
    color: rgb(151, 114, 114);
}

 
 .home-page  .main-post .permalink h2,
.main-post .permalink h2{
  border-bottom: 2px dashed #aaa;
  font-size: 25px;
}

 .home-page  .main-post .permalink:hover,
 .home-page  .permalink:hover h2,
.main-post .permalink:hover ,
.main-post .permalink:hover h2{
 text-decoration: none;
   border-bottom: 2px solid  #aaa;
}



 .home-page  .post-pagination  a,
.post-pagination  a{
    background-color: white ;
    padding: 4px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition:all .5s ;
}

 .home-page   .post-pagination  a:hover,
.post-pagination  a:hover{
    background-color: black;
    color: white;
}

 .home-page   .post-pagination  svg,
.post-pagination  svg{
    font-weight: bold; 
    color: red ;
}



 .home-page   .post-pagination  span,
.post-pagination  span{
    background-color: white ;
     padding: 4px 20px;
    border-radius: 4px;
    opacity: .5;
    cursor:not-allowed;
}

 .home-page  .post-pagination   span svg,
.post-pagination   span svg{
    color: black;
       opacity: .5;
}
/*****End all Posts **************/

/******* Start single Post *******/

.single-post {
    position: relative;
}
.single-post .link-edite-post-1 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 8px ;
    background-color: #868686;
    color: white;
    text-decoration: none;
}
.single-post .link-edite-post-1 svg {  
    color: white; 
}

.single-post .link-edite-post-1:hover  ,
.single-post .link-edite-post-1:hover  svg{ 
     background-color: white;
    color: #868686; 
}
.single-post .desc{
    display: block; 
    font-size: 13px;
    color: #868686;
  margin-top: 25px;
    
}

.single-post .desc p {
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 25px;
}

.single-post   .desc{
    display: block; 
    font-size: 13px;
    color: #868686; 
    line-height: 20 !important;;
   
}


.comments-number {
    background-color: rgba(1,1,1,.1);
    margin: 15px 20px 15px ;
    padding: 10px;
    color: rgba(1,1,1,.4); 
}

  .our-comments-liste ul,
  .our-comments-liste ol { 
    list-style: none;
   margin: 0;
    padding: 0; 
}
 
 
  .our-comments-liste > .comment{
 background-color: rgba(1,1,1,.1); 
  margin: 20px;
         padding:5px 10px ;
}

  .our-comments-liste   .comment .comment{
 background-color: rgba(1,1,1,.1); 
  margin: 10px;
       padding:5px 10px ;
      color: white ;
}

/*Start All cmnts img ... **/
.our-comments-liste .comment img{
    margin: 3px;
    background-color: white;
    border:1px solid rgba(1,1,1,.3);
    padding: 2px;
    margin-right: 20px;
    margin-bottom: 10px;
         
}
.our-comments-liste .comment  .says{ 
         display: none;
}

.our-comments-liste .comment .comment-meta a{
    color: rgba(1,1,1,0.5) ;
    font-size: 12px;
}

.our-comments-liste .comment   p{
    color: rgba(1,1,1,0.5) ; 
    margin: 8px ;
    color: white  ;
}
.our-comments-liste .comment .comment-body{
 
    position: relative;
   
}
.our-comments-liste .comment .comment-body .reply{
    background: gray;
    position: absolute;
    right: 0; 
    top: 0;
    margin:4px 0px;
    padding: 3px 8px;
    border: 1px white solid;
    transition: all .5s ;
}
.our-comments-liste .comment .comment-body .reply:hover {
      background: white;
    border-color: black;
}
.our-comments-liste .comment .comment-body .reply a{
    color: white;
}
.our-comments-liste .comment .comment-body .reply:hover a {
    color: black
}
.our-comments-liste .comment  .comment-reply-link{
    color: rgba(1,1,1,0.5) ;
  
}

 .single-post  .comment-respond{
 max-width: 650px;
     margin: auto;
     border: 1px gray solid;
     padding:5px  15px;
     background-color: #b9b9b9;
}



/*Start All cmnts img ... **/


/******* End single Post *******/









 .footer {
     background-color: #333;
     color: white;
     padding: 10px;
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
 }